body {
  font-family: tahoma;
  background-color: #fff;
  color: #fff;
  background: url("https://www.photoinspection.com/v1/sites/all/themes/startupgrowth_lite/images/parallax-bg.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  padding: 15px;
  color: #fff;
  background-color: #1e5799;
  border-radius: 15px;
  opacity: 0.95;
}
